/* AdminPage.css */
.admin-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f9f9f9;
  }
  
  .admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .admin-title {
    margin: 0;
  }
  
  .logout-link {
    color: #fff;
    text-decoration: none;
  }
  
  .logout-link:hover {
    text-decoration: underline;
  }
  
  .admin-main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .view-requests-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }
  
  .admin-footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  